{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}


{% block main %}

<div class="top" id="kryt"><h5>Individual basketball training sessions to boost your basketball career!</h5></div>
<div class="video">
  <div class="top">
  <video  controls="false" autoplay loop muted>
    <source src="/static/micha2.mp4" type="video/mp4">
  </video>
</div>
<div>
  <img name="slide" width="300" height="340" id="ni">
</div>
    <div class="video">
      <div class="top">
        <video width="300" height="340" controls="false" autoplay loop muted>
            <source src="/static/micha.mp4" type="video/mp4">
          </video>
          </div>
      </div>
      <div clas="video">
        <div class="top">
          <video  controls="false" autoplay loop muted
            <source src="/static/micha1.mp4" type="video/mp4">
          </video>
        </div>
        <div class="video">
          <div class="top">
          <video  controls="false" autoplay loop muted>
            <source src="/static/micha3.mp4" type="video/mp4">
          </video>
        </div>

      </div>



{% endblock %}